.NewTodo-form {
  display: flex;
  flex-wrap: wrap;
}
.NewTodo-form-input {
  flex-grow: 1;
  border: none;
  background: #f7f1f1;
  padding: 0 1.5em;
  font-size: initial;
  margin-bottom: 5%;
}
.NewTodo-form-button {
  padding: 0 1.3rem;
  border: none;
  background: #fca311;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
}
.NewTodo-form-button:hover {
  background: #d38913;
}
.NewTodo-form-input,
.NewTodo-form-button {
  font-family: "Quicksand", sans-serif;
  height: 3rem;
}
